In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_json(r"C:\Users\admin\Downloads\meta_Appliances.json\meta_Appliances.json", lines = True)

In [3]:
df1.head()

,category,description,title,also_buy,brand,rank,also_view,main_cat,price,asin,tech1,image,date,feature,similar_item,details,tech2
0,"[Appliances, Parts & Accessories, Range Parts ...","[, I would like to think that anyone in busine...",The Necessity of Strangers: The Intriguing Tru...,"[0307888908, 038534936X, 1250141222, 184794080...",Alan Gregerman,"855,504inBooks(","[1250141222, 0307888908, 038534936X, 1476795924]",Books,$16.39,1118461304,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,[Breeze Collection is a wonderful book by Kim ...,Breeze,"[1906487316, 1906487014, 1906487006, 190648705...",Non Basic Stock Line,"[>#10,898 in Appliances (See top 100)]",NaN,Appliances,$32.00,1906487049,"{'Item Weight': '1.15 pounds', 'Package Dimens...",[https://images-na.ssl-images-amazon.com/image...,"April 9, 2009",NaN,NaN,NaN,NaN
2,"[Appliances, Parts & Accessories]",[This is an authorized aftermarket product. Fi...,Panasonic ADD96A1052 Blade,NaN,Panasonic,">#1,465,449 in Tools & Home Improvement (See t...",NaN,Tools & Home Improvement,NaN,6040985461,"{'Part Number': 'MSCADD96A1054', 'Item Weight'...",[https://images-na.ssl-images-amazon.com/image...,"December 26, 2014","[This is an O.E.M. Authorized part, Fits with ...",NaN,NaN,NaN
3,"[Appliances, Refrigerators, Freezers & Ice Mak...",NaN,Tupperware Freezer Square Round Container Set ...,NaN,Tupperware,"[>#39,745 in Appliances (See top 100)]",NaN,Appliances,NaN,7301113188,"{'Brand Name': 'Tupperware', 'Item Weight': '9...",NaN,"November 19, 2008",[Each 3-pc. set includes two 7/8-cup/200 mL an...,NaN,NaN,NaN
4,"[Appliances, Refrigerators, Freezers & Ice Mak...",[2 X Tupperware Pure & Fresh Unique Covered Co...,2 X Tupperware Pure & Fresh Unique Covered Coo...,NaN,Tupperware,"[>#6,118 in Appliances (See top 100)]",[B004RUGHJW],Appliances,$3.62,7861850250,"{'Brand Name': 'Tupperware', 'Model Info': 'Tu...",[https://images-na.ssl-images-amazon.com/image...,"June 5, 2016",[2 X Tupperware Pure & Fresh Unique Covered Co...,NaN,NaN,NaN

In [4]:
np.shape(df1)

(30459, 17)

In [5]:
df2 = df1[['also_buy', 'asin']]
df2.head()

                                            also_buy        asin
0  [0307888908, 038534936X, 1250141222, 184794080...  1118461304
1  [1906487316, 1906487014, 1906487006, 190648705...  1906487049
2                                                NaN  6040985461
3                                                NaN  7301113188
4                                                NaN  7861850250